name: afisha

services:
  backend:
    image: ghcr.io/lavdl/film-react-nest-backend:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_DRIVER: postgres
    depends_on:
      - postgres
    networks:
      - appnet
    expose:
      - "3000"

  nginx:
    image: ghcr.io/lavdl/film-react-nest-nginx:latest
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_CDN_URL: ${VITE_CDN_URL}
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - appnet

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - appnet

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  frontend_dist:
  pg_data:
  pgadmin_data:
